<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30001">
        <!--<setting label="30002" type="ipaddress" id="host"/>
        <setting label="30008" type="action" action="XBMC.RunPlugin(plugin://script.luna/actions/pair-host)" option="close"/>-->
        <setting label="30003" type="labelenum" id="framerate" values="30|60"/>
        <!--<setting label="30037" type="action" action="XBMC.RunPlugin(plugin://script.luna/settings/select-audio)"/>-->
        <setting label="30036" type="text" id="audio_device_name" default=""/>
        <setting type="string" visible="false" id="audio_device" default=""/>
        <setting label="30039" type="bool" id="enable_surround_audio" default="false" />
        <setting label="30023" type="bool" id="override_default_resolution" default="false"/>
        <setting label="30004" enable="eq(1,false) + eq(-1,true)" visible="eq(-1,true)" type="labelenum" id="resolution" values="1920x1080|1280x720"/>
        <setting label="30005" enable="eq(-2,true)" visible="eq(-2,true)" type="bool" id="enable_custom_resolution" default="false"/>
        <setting label="30006" subsetting="true" enable="eq(-1,true)" visible="eq(-1,true)" type="slider" id="resolution_width" range="640,10,1920" option="int" default="1280"/>
        <setting label="30007" subsetting="true" enable="eq(-2,true)" visible="eq(-2,true)" type="slider" id="resolution_height" range="480,10,1080" option="int" default="720"/>
    </category>
    <category label="30016">
        <setting label="30017" type="bool" id="enable_custom_input" default="false"/>
        <!--<setting label="30034" type="action" enable="eq(-1,true)" action="XBMC.RunPlugin(plugin://script.luna/settings/select-input)"/>-->
    </category>
    <category label="30009">
        <setting label="30010" type="bool" id="enable_custom_bitrate" default="false"/>
        <setting label="30011" type="slider" id="bitrate" enable="eq(-1,true)" range="0,1,50" option="int" default="20"/>
        <setting label="30012" type="slider" id="packetsize" enable="eq(-2,true)" range="256,8,2048" option="int" default="1024"/>
        <setting label="30013" type="bool" id="remote_optimizations" default="false"/>
        <setting label="30014" type="bool" id="graphic_optimizations" default="false"/>
        <setting label="30015" type="bool" id="local_audio" default="false"/>
        <setting label="30035" type="bool" id="enable_pre_updates" default="false"/>
        <setting label="30038" type="bool" id="enable_moonlight_debug" default="false"/>
    </category>
    <category label="30021">
        <setting label="30025" type="bool" id="enable_omdb" default="true"/>
        <setting label="30026" type="bool" id="enable_tgdb" default="true"/>
        <setting label="30027" type="bool" id="enable_igdb" default="false"/>
        <setting label="30028" type="file" id="api_key_file" file_mask=".conf" visible="eq(-1,true)" enable="eq(-1,true)" default=""/>
        <setting label="30022" type="action" id="reset_cache_action" action="cache_reset"/>
    </category>
    <category label="30040">
        <setting label="30041" type="bool" id="enable_init_scripts" default="false"/>
        <setting label="30042" enable="eq(-1,true)" type="file" id="pre_script"/>
        <setting label="30043" enable="eq(-2,true)" type="file" id="post_script"/>
    </category>
    <category label="30029">
        <setting label="30044" type="bool" id="enable_telemetry" default="true" />
        <setting label="30030" type="bool" id="luna_widget_enable" default="false"/>
        <setting label="30033" type="bool" id="luna_force_fanart" default="false"/>
        <!--<setting label="30031" type="action" enable="eq(2,false)" visible="eq(-2,true)" action="XBMC.RunPlugin(plugin://script.luna/actions/patch-osmc)" option="close"/>
        <setting label="30032" type="action" visible="eq(-3,true)" action="XBMC.RunPlugin(plugin://script.luna/actions/rollback-osmc)" option="close"/>-->
        <setting label="30030" type="bool" visible="false" id="luna_widget_patched" default="false"/>
    </category>
</settings>
